body {
    font-family: "Helvertica Neue",Helvetica, Arial,sans-serif;
    font-size: 22px;
    line-height: 37px;
}
menu {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
#main{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
#content{
    width: 544px;
    padding-left: 23px;
    padding-right: 23px;
    float: left;
    font-size: 16px;
    line-height: 27px;
}
#content h1{
    font-size: 33px;
    line-height: 52px;
    margin-bottom: 18px;
}
#footer{
    clear: both;
    text-align: center;
}